Here is your workout. Enjoy!
<br>
<br>
<% if @workout.cardio > 0 %>
	<%= @workout.cardios.name %>
<% end %>
<br>
<br>
<ul>
	<% @workout.strengths.each do |ex| %>
		<li><%= ex.name %></li>
	<% end %>
</ul>
<br>
<br>
<ul>
	<% @workout.stretches.each do |ex| %>
		<li><%= ex.name %></li>
	<% end %>
</ul>
<br>
<br>
<% if @workout.cardio > 0 %>
	<%= @workout.cardios.name %>
<% end %>



