This will display the generated workout
<br>
<br>
<%= @workout.cardios.name %>
<br>
<br>
<ul>
<% @workout.strengths.each do |ex| %>
	<li><%= ex.name %></li>
<% end %>
</ul>
<br>
<br>
<ul>
<% @workout.stretches.each do |ex| %>
	<li><%= ex.name %></li>
<% end %>
</ul>
<br>
<br>
<%= @workout.cardios.name %>



