Here is your workout. Enjoy!
<br>
<br>
<% if @workout.cardio == 0 %>
	No cardio for you today. Have a nice break. :)
<% end %>
<%= @workout.cardios %>
<br>
<br>
<ul>
	<% @workout.strengths.each do |ex| %>
		<li><%= ex.name %></li>
	<% end %>
</ul>
<br>
<ul>
	<% @workout.stretches.each do |ex| %>
		<li><%= ex.name %></li>
	<% end %>
</ul>
<br>
<br>
<%= @workout.cardios %>



