This is the index page for workouts.

this will display the generated workout
<br>
<br>
<% cardios = Ex.where("category = 'cardio'") %>
<%= cardios.first(:offset => rand(cardios.count)).name %>
<br>
<br>
<ul>
<% @workout.exercises.each do |ex| %>
	<li><%= ex.name %></li>
<% end %>
</ul>
<br>

<% stretches = Ex.where("category = 'stretch'") %>
<% for i in 1..@workout.stretch/2 %>
	<%= stretches.first(:offset => rand(stretches.count)).name %>
	<br>
<% end %>
<br>

<%= cardios.first(:offset => rand(cardios.count)).name %>


