<p>Hey, you're looking foxy this morning.</p>
<p> But you know what? You still need to get off your doughy ass and do some physical activity. So go do it!</p>
<p> No excuses! Right now!</p>
<br>
<div class="btn">
<%= link_to "Generate Workout", new_workout_path %>
</div>
