/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#main {
	padding:30px;
	border:2px solid gray;
	margin:20px;
	margin-left:100px;
	background-color: white;
	border-radius: 15px;
}

a:link {color:#080808;}      /* unvisited link */
a:visited {color:#080808;}  /* visited link */
a:hover {color:#00FF00;}  /* mouse over link */
a:active {color:#0000FF;}  /* selected link */

#body {
	background-color: #ECECEC;
}

.footer {
	margin-left: 75px;
	margin-bottom: 5px;
}

.ex_name {
	margin-left: 20px;
}
